<html lang="en" ng-app="WebApp" xmlns="http://www.w3.org/1999/html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="nikita">
    <link rel="icon" href="ico/favicon.ico">

    <title> XSD-viewer </title>

    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/navbar-static-top.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script type="text/javascript" src="js/main.controller.js"></script>
    <script type="text/javascript" src="js/main.module.js"></script>
    <script type="text/javascript" src="js/main.service.js "></script>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">XSD-viewer</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>


<div class="container">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">

        <div class="row">

            <div class="col-md-4" align="center">
                <div class="fileupload fileupload-new" data-provides="fileupload" ng-controller="ctrl" >
                    <span class="btn btn-info btn-file btn-lg">
                        <span class="fileupload-new">
                               Select file
                        </span>
                    </span>

                </div>

                <button class="btn btn-info btn-file btn-lg" ng-click="item.upload()">Upload</button>

                <br>
                <br>

                <input type="file" ng-model-instant id="fileToUpload" multiple onchange="angular.element(this).scope().setFiles(this)" />
                <span>{{file.webkitRelativePath || file.name}}</span>

            </div>

            <div class="col-md-4" align="center">
                <button type="button" class="btn btn-info btn-lg">Get tree</button>
            </div>

            <div class="col-md-4" align="center">
                <button type="button" class="btn btn-info btn-lg">Settings</button>
            </div>

        </div>

    </div>

</div> <!-- /container -->

<div class="container">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">

        <div class="row" ng-controller="ctrl">
            <br> <br> <br> <br>
            <br> <br> <br> <br>
            <br> <br> <br> <br>
            <button type="button" class="btn btn-info btn-lg" ng-click="postFile()">Upload</button>
            <button type="button" class="btn btn-info btn-lg" ng-click="getFile()">Get</button>
        </div>

    </div>

</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
